.App {
  text-align: center;
  min-height: 100vh;
  background: #faf9ef;
}

body {
  --img-width: 100px;
  --img-height: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards-container {
  margin: 0 auto;
  padding: 50px 25px;
}

.cards-container .card-wrapper {
  display: inline-block;
}

.cards-container .card-wrapper .btn:hover {
  border: 1px solid #333;
}

.game-card-img {
  width: var(--img-width);
  height: var(--img-height);
}

.desk {
  display: flex;
  padding: 50px 25px;
  justify-content: center;
  min-height: 200px;
}

.desk .stacked-desk-cards {
  position: relative;
  width: var(--img-width);
  height: var(--img-height);
}

.desk .stacked-desk-cards .game-card-img {
  position: absolute;
}

.discarded-container {
  position: relative;
  width: 250px;
  height: 200px;
}

.discarded-container .game-card-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.stack-container {
  position: relative;
  width: 250px;
  height: 200px;
}

.stack-container .game-card-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 55px;
  right: 0;
  margin: auto;
}

.stack-container .game-card-img:first-child {
  left: 0;
}